In [152]:
import numpy as np
import pandas as pd
from collections import Counter

In [153]:


data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
406,tt1279935,55000000,152263880,Date Night,Steve Carell|Tina Fey|Mark Wahlberg|Taraji P. ...,Shawn Levy,One ordinary couple. One little white lie.,The mild-mannered married couple Phil and Clai...,97,Comedy,Twentieth Century Fox Film Corporation|Dune En...,4/8/2010,5.9,2010,97263880
714,tt1175491,25100000,29506464,W.,Josh Brolin|Elizabeth Banks|Ellen Burstyn|Ioan...,Oliver Stone,A life misunderestimated.,"Whether you love him or hate him, there is no ...",131,Drama|History,Ixtlan Productions|Emperor Motion Pictures|Glo...,10/17/2008,5.6,2008,4406464
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
160,tt1253863,110000000,337580051,300: Rise of an Empire,Sullivan Stapleton|Eva Green|Lena Headey|Calla...,Noam Murro,Seize your glory!,Based on Frank Miller's latest graphic novel X...,102,Action|War,Legendary Pictures|Hollywood Gang Productions|...,3/5/2014,6.1,2014,227580051
325,tt1045778,60000000,62357900,Year One,Jack Black|Michael Cera|Olivia Wilde|Oliver Pl...,Harold Ramis,Meet your ancestors,When a couple of lazy hunter-gatherers are ban...,97,Comedy|Adventure,Columbia Pictures|Ocean Pictures|Apatow Produc...,6/18/2009,4.5,2009,2357900

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [154]:
answers = {} # создадим словарь для ответов

def count_genres(ser_list):
    new_genres=[]
    for i in ser_list:
        new_genres.extend(i.split('|'))
    return pd.Series(new_genres).value_counts()

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [156]:
# в словарь вставляем номер вопроса и ваш ответ на него
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"
# +

In [155]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget']  == data.budget.max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [157]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'
# +

In [158]:
data[data['runtime']  == data.runtime.max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [185]:
answers['3'] = 'Winnie the Pooh' 
# +

In [159]:
data[data['runtime']  == data.runtime.min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [186]:
answers['4'] = '110'
# +

In [160]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [187]:
answers['5'] = '107'
# +

In [161]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [188]:
answers['6'] = 'Avatar'
# +

In [162]:
data[data['profit']  == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [189]:
answers['7'] = 'The Lone Ranger'
# +

In [163]:
data[data['profit']  == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [190]:
answers['8'] = '1478'
# +

In [164]:
data[data['profit']>0]['profit'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [191]:
answers['9'] = 'The Dark Knight'
# +

In [165]:
data2008 = data[data['release_date'].str.contains('2008', na = False)]
data2008[data2008['revenue'] == data2008.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [192]:
answers['10'] = 'The Lone Ranger'
# +

In [30]:
data2012_14 = data[data['release_date'].str.contains('201[2-4]', na = False)]
data2012_14[data2012_14['profit'] == data2012_14.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [193]:
answers['11'] = 'Drama'
# +

In [166]:
genres = data['genres']
d = count_genres(genres)
d[d == d.max()].index

Index(['Drama'], dtype='object')

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [194]:
answers['12'] = 'Drama'
# +

In [167]:
genres_profit = data[data['profit'] > 0]
d = count_genres(genres_profit['genres'])
d[d == d.max()].index

Index(['Drama'], dtype='object')

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [195]:
answers['13'] = 'Peter Jackson'
# +

In [168]:
data['director'] = data.director.str.split('|')
data = data.explode('director')
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [196]:
answers['14'] = 'Robert Rodriguez'
# +

In [169]:
data['genres'] = data.genres.str.split('|')
data = data.explode('genres')
d = data[data['genres'] == 'Action'].groupby(['director'])['genres'].count().sort_values(ascending=False)
d[d == d.max()].index

Index(['Robert Rodriguez'], dtype='object', name='director')

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [197]:
answers['15'] = 'Chris Hemsworth'
# +

In [171]:
data = pd.read_csv('movie_bd_v5.csv')
data = data[data.release_date.str.contains('2012',na=False)]
data['cast'] = data.cast.str.split('|')
data = data.explode('cast')
data.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [198]:
answers['16'] = 'Matt Damon'
# +

In [173]:
data = pd.read_csv('movie_bd_v5.csv')
data = data[data['budget'] > data.budget.mean()]
data['cast'] = data.cast.str.split('|')
data = data.explode('cast')
data.groupby(['cast'])['budget'].count().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [199]:
answers['17'] = 'Action'
# +

In [174]:
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data.cast.str.split('|')
data = data.explode('cast')
data = data[data.cast.str.contains('Nicolas Cage',na=False)]
data['genres'] = data.genres.str.split('|')
data = data.explode('genres')
data.groupby(['genres'])['cast'].count().sort_values(ascending=False).index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [200]:
answers['18'] = 'K-19: The Widowmaker'
# +

In [175]:
data = pd.read_csv('movie_bd_v5.csv')
data['production_companies'] = data.production_companies.str.split('|')
data = data.explode('production_companies')
data = data[data['production_companies'].str.contains('Paramount Pictures', na = False)]
data['profit'] = data['revenue'] - data['budget']
data.groupby(['original_title'])['profit'].min().sort_values(ascending=True).index[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [201]:
answers['19'] = '2015'
# +

In [176]:
data = pd.read_csv('movie_bd_v5.csv')
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [202]:
answers['20'] = '2014'
# +

In [177]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data['production_companies'] = data.production_companies.str.split('|')
data = data.explode('production_companies')
data = data[data['production_companies'].str.contains('Warner Bros', na = False)]
data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [203]:
answers['21'] = 'Сентябрь'
# +

In [178]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = data.release_date.apply(lambda sample: '/'.join(sample.split('/')[::2]))
s = data.groupby(['release_date'])['release_year'].count().sort_values(ascending=False).reset_index()
s.rename(columns = {'release_year':'movies number'}, inplace = True)
s[['mounth','year']] = s.release_date.str.split('/', expand=True)
s.groupby(['mounth'])['movies number'].sum().sort_values(ascending=False).index[0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [204]:
answers['22'] = '450'
# +

In [179]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = data.release_date.apply(lambda sample: '/'.join(sample.split('/')[::2]))
s = data.groupby(['release_date'])['release_year'].count().sort_values(ascending=False).reset_index()
s.rename(columns = {'release_year':'movies number'}, inplace = True)
s[['mounth','year']] = s.release_date.str.split('/', expand=True)
s = s[( (s['mounth'] == '6') | (s['mounth'] == '7' ) | (s['mounth'] == '8')) ]
s['movies number'].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [205]:
answers['23'] = 'Peter Jackson'
# +

In [180]:
data = pd.read_csv('movie_bd_v5.csv')
data['director'] = data.director.str.split('|')
data = data.explode('director')
data['release_date'] = data.release_date.apply(lambda sample: '/'.join(sample.split('/')[::2]))
data[['month','year']] = data.release_date.str.split('/', expand = True)
data = data[( (data['month'] == '12') | (data['month'] == '1') | (data['month'] == '2'))]
data.groupby(['director'])['release_date'].count().sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [206]:
answers['24'] = 'Four By Two Productions'
# +

In [181]:
data = pd.read_csv('movie_bd_v5.csv')
data = data[['production_companies','original_title']]
data['production_companies'] = data.production_companies.str.split('|')
data = data.explode('production_companies')
data['length'] = data.original_title.apply(len)
data.groupby(['production_companies'])['length'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [207]:
answers['25'] = 'Midnight Picture Show'
# +

In [141]:
data = pd.read_csv('movie_bd_v5.csv')
data = data[['production_companies','overview']]
data['production_companies'] = data.production_companies.str.split('|')
data = data.explode('production_companies')
data['length'] = data.overview.apply(len)
data.groupby(['production_companies'])['length'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [208]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [144]:
data = pd.read_csv('movie_bd_v5.csv')
data = data[data['vote_average'] > data['vote_average'].quantile(q=0.99)]
data.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False)

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Room                                             8.0
Interstellar                                     8.0
Inside Out                                       8.0
The Wolf of Wall Street                          7.9
The Pianist                                      7.9
The Lord of the Rings: The Return of the King    7.9
The Grand Budapest Hotel                         7.9
Memento                                          7.9
Inception                                        7.9
Guardians of the Galaxy                          7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [209]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'
# +

In [183]:
from itertools import combinations
                 
data = pd.read_csv('movie_bd_v5.csv')
# фрэйм только актеры и фильмы
data = data[['cast','original_title']]
# разбил значения в колонке с актерами в список
data['cast'] = data.cast.str.split('|')
# получаем список из комбинации кортежей по два
data['cast'] = data.cast.apply(lambda x: list(combinations(x,2)))
# расширяем по группам актеров
data = data.explode('cast')
# сортируем по актерам считая по фильмам
data.groupby(['cast'])['original_title'].count().sort_values(ascending=False)

cast
(Daniel Radcliffe, Emma Watson)             8
(Daniel Radcliffe, Rupert Grint)            8
(Rupert Grint, Emma Watson)                 7
(Ben Stiller, Owen Wilson)                  6
(Johnny Depp, Helena Bonham Carter)         6
                                           ..
(Matthew McConaughey, Rene Russo)           1
(Matthew McConaughey, Reese Witherspoon)    1
(Matthew McConaughey, Powers Boothe)        1
(Matthew McConaughey, PenÃ©lope Cruz)       1
(50 Cent, Adewale Akinnuoye-Agbaje)         1
Name: original_title, Length: 18121, dtype: int64

# Submission

In [210]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [211]:
# и убедиться что ни чего не пропустил)
len(answers)

27